@{
    ViewData["Title"] = "Fazenda -- Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PIM_4_Semestre.styles.css" asp-append-version="true" />
    <title>Fazenda -- Cadastro</title>
</head>
<body>
    <div class="mae">
        <div class="cadastro">
            <div class="usu">
                <img src="../images/arvore.png" alt="Logo" />
                <div class="desc">Cadastro do Usuário</div>
            </div>
            <div class="inputs">
                <input type="text" class="nome" placeholder="Nome completo" />
                <input type="text" class="cpf" placeholder="CPF" />
                <input type="email" class="email" placeholder="Email" />
                <input type="password" class="senha" placeholder="Senha" />
            </div>
            <div class="salvar"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Salvar</a></div>
        </div>
    </div>
</body>
</html>