@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Telas_CSS/cadastro.css">
    <link rel="shortcut icon" href="../images/arvore.png" type="image/x-icon">
    <title>Fazenda -- Cadastro</title>
</head>
<body>
    <div class="mae">
        <div class="cadastro">
            <div class="usu">
                <img src="../images/arvore.png" alt="Logo" />
                <div class="desc">Cadastro do Usuário</div>
            </div>
            <div class="inputs">
                <input type="text" class="nome" placeholder="Nome completo" />
                <input type="text" class="cpf" placeholder="CPF" />
                <input type="email" class="email" placeholder="Email" />
                <input type="password" class="senha" placeholder="Senha" />
            </div>
            <div class="salvar"><a href="../Telas_HTML/login.html">Salvar</a></div>
        </div>
    </div>
</body>
</html>