@{
    ViewData["Title"] = "Fazenda -- Redirecionamento";
}


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/final.css" rel="stylesheet" />
</head>
<body>
    <div class="mae_final">
        <div class="cabecalho_final">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="../images/arvoreMaior.png" alt="Logo" /></a>
            <div class="titulo_final">Redirecionamento</div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="../images/forester-house.png" alt="Home" /></a>
        </div>
        <div class="final">
            <img src="~/images/qrcode_whats.png" alt="QR Code" class="qrcode" />
        </div>
    </div>
</body>
</html>

